@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    padding: 50px;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    font-variant: small-caps;
}

#autor{
    padding-bottom: 50px;
    color: white;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;   
}

a:hover{
    text-decoration: underline;
}

section{   
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.imagem{
    background-image: url('./imagens/background001.jpg');
    background-position: center center;  
    color: white;
}

.p1{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.171);
}

.p2{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.171);
}

footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}